# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#########################
# RStudio project files #
#########################
*.RData
*.Rhistory
*.Rproj

# RStudio folders
.Rproj.user

#### exclude datasets
*.bz2
*.csv

# Exclude knitr cache folder
*_cache/
